@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans";
}

body {
}

/* ====================
 SHARED COMPONENTS
 ==================== */
/* ABOUT SECTION */
.about-section {
  width: 87.2%;
  margin: 0 auto 6rem auto;
}

.about-section__img {
  min-height: 14rem;
  max-height: 31.25rem;
  object-fit: cover;
  margin-bottom: 3rem;
}

.about-section__text {
  text-align: center;
  color: #000;
}

.about-section__heading {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about-section__description {
  font-family: "Alata";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* ====================
 HOME PAGE
 ==================== */
/* CATEGORIES SECTION */
.categories {
  width: 87.2%;
  margin: 0 auto 6rem auto;
}

.categories__heading {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 3rem;
}

.category-cards__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.category-card {
  width: 100%;
  max-width: 28.125rem;
  margin: 0 auto;
}

.category-card__img {
  width: 100%;
  height: 9.375rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.category-card__category-name {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.category-card__btn {
  display: block;
  font-family: "Alata";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  border: 0.0625rem solid #000;
  outline: none;
  padding: 0.8125rem 2.5rem;
}

.map-img {
  width: 87.2%;
  min-height: 28.125rem;
  margin: 0 auto 6rem auto;
  object-fit: cover;
}

/* LATEST REVIEWS SECTION */
section.latest-reviews {
  width: 87.2%;
  margin: 0 auto 6rem auto;
}

.latest-reviews__heading {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 3rem;
}

.latest-reviews__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.latest-review-card {
  display: flex;
  align-items: flex-start;
}

.latest-review-card__img {
  width: 6.25rem;
  height: 8.0625rem;
  object-fit: cover;
  margin-right: 1.5rem;
}

.latest-review-card__number {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #c5c6ce;
  margin-bottom: 0.75rem;
}

.latest-review-card__heading {
  font-family: "Josefin Sans";
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #000;
}

.view-all-reviews-btn {
  display: block;
  font-family: "Alata";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  border: 0.0625rem solid #000;
  outline: none;
  padding: 0.8125rem 2.5rem;
  cursor: pointer;
}

/* ====================
 REVIEWS PAGE
 ==================== */
.reviews-section {
  width: 87.2%;
  margin: 0 auto 6rem auto;
}

.review-page__heading {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 3rem;
}

.review-cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
/* REVIEW CARDS */
.review-card {
  max-width: 21.875rem;
}

.review-card__img {
  width: 100%;
  height: 14.625rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.review-card__text-content {
  color: #000;
}

.review-card__text-content__heading {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.review-card__text-content__owner {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  margin-top: 0.5rem;
}

.review-card__text-content__category {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.review-card__text-content__review {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  margin-bottom: 1rem;
}

.review-card__text-content__flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.view-review-btn {
  display: block;
  font-family: "Alata";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  border: 0.0625rem solid #000;
  outline: none;
  padding: 0.8125rem 2.5rem;
  cursor: pointer;
}

/* ========================================
 MEDIA QUERIES - TABLET
 ======================================== */
@media (min-width: 48rem) {
  /* ====================
  SHARED COMPONENTS
  ==================== */
  /* ABOUT SECTION */
  .about-section {
    position: relative;
  }

  .about-section__img {
    min-height: 31.25rem;
    width: 65.8558558559%;
    margin-bottom: 0;
  }

  .about-section__text {
    text-align: left;
    width: 48.7387387387%;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem 0 0 1rem;
  }

  .about-section__heading {
    margin-bottom: 1.5625rem;
  }

  /* ====================
  HOME PAGE
  ==================== */
  /* CATEGORIES SECTION */
  .categories__heading {
    font-size: 3rem;
    line-height: 3rem;
    text-align: left;
    margin-bottom: 5rem;
  }

  .category-cards__container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .category-card {
    width: 46%;
    max-width: unset;
  }

  .category-card__img {
    height: 13.75rem;
    margin-bottom: 2rem;
  }

  .category-card__category-name {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  /* LATEST REVIEWS SECTION */
  .latest-reviews__heading {
    font-size: 3rem;
    line-height: 3rem;
    text-align: left;
    margin-bottom: 5rem;
  }

  .latest-reviews__container {
    gap: 3rem;
    margin-bottom: 4rem;
  }

  .latest-review-card {
    width: 100%;
  }

  /* ====================
  REVIEWS PAGE
  ==================== */
  .review-page__heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 5rem;
  }

  .review-card {
    min-width: 21.875rem;
    max-width: 21.875rem;
  }
}

/* ========================================
 MEDIA QUERIES - DESKTOP
 ======================================== */
@media (min-width: 90rem) {
  /* ====================
  SHARED COMPONENTS
  ==================== */
  /* ABOUT SECTION */
  .about-section {
    width: 77.0833333333%;
  }

  .about-section__text {
    padding: 3rem 0 0 3rem;
  }

  /* ====================
  HOME PAGE
  ==================== */
  /* CATEGORIES SECTION */
  .categories {
    width: 77.0833333333%;
  }

  .category-card {
    width: 47%;
  }

  .category-card__btn {
    transition: all 0.2s ease-in-out;
  }

  .category-card__btn:hover {
    color: #fff;
    background: #000;
  }

  .map-img {
    width: 77.0833333333%;
    max-height: 31.25rem;
  }

  /* LATEST REVIEWS SECTION */
  section.latest-reviews {
    width: 77.0833333333%;
  }
  .latest-reviews__container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .latest-review-card {
    width: 31.5315315315%;
  }

  .view-all-reviews-btn {
    transition: all 0.3s ease-in-out;
  }

  .view-all-reviews-btn:hover {
    color: #fff;
    background: #000;
  }

  /* ====================
  REVIEWS PAGE
  ==================== */
  .view-review-btn {
    transition: all 0.3s ease-in-out;
  }

  .view-review-btn:hover {
    color: #fff;
    background: #000;
  }
}
